h1 {
	color: #FF530D;
	front-size: 36px;
}
h2 {
  color: blue;
  font-size: 24px;
}
h3 {
  color: rgb(255, 83, 13);
  font-size: 18px;
}h4 {
  color: rgba(255, 83, 13, 1.0);
  font-size: 12px;
}h5 {
  color: blue;
  font-size: 9px;
}
